:root {
  --mainColor: #e96021;
  --secondColor: #213b85;
  --fontsColor: #253D4E;
  --englishFont: 'Montserrat', sans-serif;
  --arabicFont: 'Tajawal', sans-serif;
}


/*
  UI Color Variables
*/
$default-flat:     #b9d9f5;
$default-shadow:   #94bfe4;
$default-highlight:#7db3e1;
$default-shadow2:  #6495be;

$black-flat:       #454545;
$black-shadow:     #000000;
$black-highlight:  #404040;

$blue-flat:        #2aa9e0;
$blue-shadow:      #1a7aa4;
$blue-highlight:   #259ed2;

$orange-flat:      #eb8046;
$orange-shadow:    #d3672d;
$orange-highlight: #e4783d;

$pink-flat:        #db4286;
$pink-shadow:      #bc3671;
$pink-highlight:   #d23e80;

$red-flat:         #d94134;
$red-shadow:       #ab3329;
$red-highlight:    #cd392c;

$yellow-flat:      #f2d54c;
$yellow-shadow:    #dcb84b;
$yellow-highlight: #e8cc48;