/*
  Not Found
*/
.notfound404 {
  position: relative;
  width: 60%;
  text-align: center;
  margin: auto;
  img {
    width: 100%;
    display: block;
    margin: auto;
  }
}

.page-notfound {
  .btn-style {
    padding: 1rem 2rem;
  }
}

/* // Not Found */